@page
@model MiniAccountManagementSystem.Pages.Admin.AddRoleModel
@{
}
<h2>Add New Role</h2>
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

<form method="post">
    <div class="form-group">
        <label>Role Name</label>
        <input asp-for="model.RoleName" class="form-control" />
        <span asp-validation-for="model.RoleName"class="bg-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add Role</button>
</form>
